{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container" style="text-align: center; padding: 50px 0; width: 75%;">
  <!-- BEGIN FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- END FLASH MESSAGES -->

  <div class="row" style="padding: 0;">
    <div class="col-md-3">
      <a href="{{ url_for('admin_dashboard') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Dashboard</h5>
        </div>
        <br>
        <p class="mb-1">Textp</p>
        <small><strong>Testo pequeno</strong></small>
      </a>
    </div>
    <div class="col-md-3">
    <a href="{{ url_for('admin_users_list') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Lista de Utilizadores</h5>
      </div>
      <br>
      <p class="mb-1">Textp</p>
      <small><strong>Testo pequeno</strong></small>
    </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_bookings_list') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Lista de Bookings</h5>
        </div>
        <br>
        <p class="mb-1">Textp</p>
        <small><strong>Testo pequeno</strong></small>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_services_list') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Lista de Servicos</h5>
        </div>
        <br>
        <p class="mb-1">Textp</p>
        <small><strong>Testo pequeno</strong></small>
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row" style="padding: 0;">
    <div class="col-md-3">
      <a href="{{ url_for('admin_dashboard') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Lista de Cleaners e Gerentes</h5>
        </div>
        <br>
        <p class="mb-1">Textp</p>
        <small><strong>Testo pequeno</strong></small>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_dashboard') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Lista de Administradores</h5>
        </div>
        <br>
        <p class="mb-1">Textp</p>
        <small><strong>Testo pequeno</strong></small>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_dashboard') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"></h5>
        </div>
        <br>
        <p class="mb-1"></p>
        <small><strong> </strong></small>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_dashboard') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"></h5>
        </div>
        <br>
        <p class="mb-1"></p>
        <small><strong> </strong></small>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $('.escolha').click(function(){
    var panel = $(this).attr("id");
    $(panel).toggle();
  });
</script>
{% endblock %}
