{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container" style="text-align: center; padding: 50px 0; width: 75%;">
  <!-- BEGIN FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- END FLASH MESSAGES -->

  <div class="row" style="padding: 0;">
    <div class="col-md-7">
      <h5>Perfil</h5>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Nome Completo</strong></td>
            <td>{{ user.name }} {{ user.surname }}</td>
          </tr>
          <tr>
            <td><strong>Bookings</strong></td>
            <td>{{ user.get_total_bookings() }}</td>
          </tr>
          <tr>
            <td><strong>Total Pago</strong></td>
            <td>£ {{ user.get_total_paid() }} </td>
          </tr>
          <tr>
            <td><strong>Total Iva</strong></td>
            <td>£ {{ user.get_total_vat() }} </td>
          </tr>
          <tr>
            <td><strong>Empregado/a</strong></td>
            <td>{{ user.get_cleaner() }}</td>
          </tr>
          <tr>
            <td><strong>Servicos</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Ultimo Servico</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Tipo de Conta</strong></td>
            {% if user.premium %}
              <td><span class="badge badge-success">Premium</span></td>
            {% else %}
              <td><span class="badge badge-secondary">Standard</span></td>
            {% endif %}
          </tr>
          <tr>
            <td><strong>Tipo de Utilizador</strong></td>
            {% if user.role == 'Admin' %}
              <td><span class="badge badge-danger">Admin</span></td>
            {% else %}
              <td><span class="badge badge-info">{{user.role}}</span></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      <form action="{{ url_for('admin_user', user_id=user.id) }}" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.role) }}
        {{ wtf.form_field(form.accountType) }}
        <input type="submit" class="btn btn-default btn-md" value="Modificar">
      </form>
    </div>
    <div class="col-md-5">
      <h5>Bookings</h5>
      <div class="list-group">
      {% for booking in user.get_user_bookings() %}
        <a href="{{ url_for('admin_booking', booking_id=booking.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">JT-{{ booking.id }}</h5>
            {% if booking.completed %}
            <small class="badge badge-success">Completo</small>
            {% else %}
            <small class="badge badge-danger">Incompleto</small>
            {% endif %}
            <small class="badge badge-info">£ {{ booking.amount_paid }}</small>
          </div>
          <p class="mb-1"><strong>Servico:</strong> {{ booking.service }}</p>

          <small>Empregada: </small>
          <br>
          <small>Notas: </small>
        </a>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
