{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block extracss %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}

<div class="container" style="text-align: center; padding: 50px 0; width: 85%;">
  <div class="row" style="padding: 0;">
    <div class="col-md-5">
      <h4>Agende um servico</h4>
      <br>
      <form action="{{ url_for('book') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.propertyType) }}
        {{ wtf.form_field(form.service) }}
        {{ wtf.form_field(form.date_from) }}
        {{ wtf.form_field(form.date_to) }}
        {{ wtf.form_field(form.time)}}
        {{ wtf.form_field(form.duration)}}
        <p id=service_price >Preco: <span id='servicePriceSpan' class="badge badge-success"></span></p>
        {{ wtf.form_field(form.comments) }}
        <input type="submit" class="btn btn-default btn-md" value="Agendar">
      </form>
    </div>
    <!-- <div class="col-md-7">
      <h4>Os meus servicos</h4>
      <br>
      <table class="table text-center table-sm">
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>Tipo de Casa</th>
            <th>Servico</th>
            <th>De</th>
            <th>A</th>
            <th>Hora</th>
            <th>Duracao</th>
            <th>Pago</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in current_user.get_user_bookings() %}
          <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.property_type }}</td>
            <td>{{ booking.get_booking_service().name }}</td>
            <td>{{ booking.date_from }}</td>
            <td>{{ booking.date_to }}</td>
            <td>{{ booking.start_time }}</td>
            <td>{{ booking.duration }}</td>
            <td>{{ booking.amount_paid }}</td>
            {% if booking.completed %}
            <td><span class="badge badge-success">Completo</span></td>
            {% else %}
            <td><span class="badge badge-info">Proximo</span></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> -->
  </div>
</div>

{% endblock %}
{% block extrajs %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker1" ).datepicker({ dateFormat: 'dd-mm-yy' });
      $( "#datepicker2" ).datepicker({ dateFormat: 'dd-mm-yy' });
      $( "#datepicker1" ).datepicker();
      $( "#datepicker2" ).datepicker();
    } );
    // ID is defined in the FormsClass
    $('#form1').change(function(){
      id = $("#form1 option:selected").val();
      try{
        $.ajax({
          method: 'GET',
          url: '/api/service/' + id,
          success: function(data) {
            $('#servicePriceSpan').text('£' + data + ' / h')
          },
          error: function(e){
            console.log(e);
          }
        });
      }catch(err){
        console.log(err);
      }
    });
  </script>

{% endblock %}
