{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<div class="container" style="text-align: center; padding: 50px 0; width: 75%;">
   <!-- BEGIN FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- END FLASH MESSAGES -->
  <div class="row" style="padding: 0;">
    <div class="col-md">
      <h4>Caixa de entrada</h4>
      <br>
      <ul class="list-group">
        {% for message in current_user.get_messages_to_user() %}
        <a href="{{ url_for('open_message', message_id=message.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">De: <span class="badge badge-info">{{ message.get_message_sender().name }}</span></h5>
            <small>{{ moment(message.timestamp).calendar() }}</small>
          </div>
          {% if message.read == False %}
            <p class="mb-1 custom-bg-warning"> {{ message.message }} </p>
          {%else%}
            <p class="mb-1"> {{ message.message }} </p>
          {% endif %}
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row" style="padding: 0;">
    <div class="col-md">
      <h4>Enviadas</h4>
      <br>
      <ul class="list-group">
        {% for message in current_user.get_messages_from_user() %}
        <a href="{{ url_for('open_message', message_id=message.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Para: {{ message.get_message_receiver().name }}</h5>
            <small>{{ moment(message.timestamp).calendar() }}</small>
          </div>
          <p class="mb-1"> {{ message.message }} </p>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
