{% extends "layout.html" %}

{% block body %}
<div class="container" style="text-align: center; padding: 50px 0; width: 75%;">
  <h3>Ola, {{ current_user.name }}!</h3>
  <!-- BEGIN FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- END FLASH MESSAGES -->
  <br>
  <div class="row" style="padding: 0;">
    <div class="col-md-4">
      <a href="{{ url_for('messages') }}" class=" list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Mensagens</h5>
          {% if current_user.get_total_unread_messages_to_user() > 0 %}
            <small class="badge badge-success">Nova Mensagem!</small>
          {% endif %}
        </div>
        <br>
        <p class="mb-1">{{ current_user.get_total_unread_messages_to_user() }} / {{ current_user.get_total_messages_to_user() }} mensagens</p>
        <small><strong>Clique para abrir</strong></small>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('book') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Servicos</h5>
          {% if current_user.get_total_bookings() > 0 %}
          <span class="badge badge-info">{{ current_user.get_total_bookings() }} servicos agendados</span>
          {% else %}
          {% endif %}
        </div>
        <br>
        <p class="mb-1">Agende uma limpeza profissional a precos competitivos ou consulte os seus servicos ativos.</p>
        <small><strong>Clique para reservar</strong></small>
      </a>
    </div>
    <div class="col-md-4">
      <a  style="background-image: url('{{ url_for('static', filename='images/locked.svg') }}'); background-repeat: no-repeat; background-position: center; background-size: 75px;" href=" {{ url_for('dashboard') }} "  class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Dashboard</h5>
          <small class="badge badge-warning">Premium</small>
        </div>
        <br>
        <p class="mb-1">Relatorios financeiros e estatisticas gerais. Saiba quanto gastou, quanto IVA pagou e quatas reservas fez num determinado periodo.</p>
        <small><strong>Clique para abrir</strong></small>
      </a>
    </div>
  </div>
  <br>
  <div class="row" style="padding: 30px 0 0 0;">
    <div class="col-md text-center">
      <a class="btn btn-outline-secondary" href="{{ url_for('profile_settings') }}">Definicoes</a>

      {% if current_user.is_admin() %}
      <a class="btn btn-outline-secondary" href="{{ url_for('admin') }}">Admin Area</a>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
