{% extends "layout.html" %}

{% block body %}
<div class="container" style="text-align: center; padding: 50px 0; width: 75%;">
  <h3>Ola, {{ current_user.name }}!</h3>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <br>
  <div class="row" style="padding: 0;">
    <div class="col-md-4">
      <a href="{{ url_for('messages') }}" class=" list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Mensagens</h5>
          <small class="badge badge-info">1</small>
        </div>
        <p class="mb-1">1 / 18 mensagens.</p>
        <small><strong>Clique para abrir</strong></small>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('book') }}" class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nova Limpeza</h5>
          <small>{{ existing_bookings_count }} limpezas agendadas.</small>
        </div>
        <p class="mb-1">Agende uma limpeza profissional a precos competitivos.</p>
        <small><strong>Clique para reservar</strong></small>
      </a>
    </div>
    <div class="col-md-4">
      <a href=" {{ url_for('dashboard') }} " class="list-group-item-custom list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Dashboard</h5>
          <small class="badge badge-warning">Premium</small>
        </div>
        <p class="mb-1">Relatorios financeiros e estatisticas gerais. Saiba quanto gastou, quanto IVA pagou e quatas reservas fez num determinado periodo.</p>
        <small><strong>Clique para abrir</strong></small>
      </a>
    </div>
  </div>
  <br>
  <div class="row" style="padding: 30px 0 0 0;">
    <div class="col-md text-center">
      <a class="btn btn-outline-secondary" href="{{ url_for('profile_settings') }}">Definicoes</a>
    </div>
  </div>
</div>

{% endblock %}
