<div class="detail">
    <p><strong>Limpeza da Cozinha</strong></p>
    <ul>
    <li>Limpeza de banca e bancada;</li>
    <li>Limpeza de fogao;</li>
    <li>Limpeza e desinfeção de caixote do lixo;</li>
    <li>Limpeza de micro-ondas e máquina de café;</li>
    <li>Limpeza de placa de cozinha;</li>
    <li>Limpeza exterior de armários;</li>
    <li>Limpeza de rodapés e parapeitos;</li>
    <li>Limpeza de elementos decorativos e candeeiros de pé;</li>
    <li>Limpeza de torneiras e cromados com acabamento de brilho;</li>
    <li>Limpeza de portas e aros até altura de utilização;</li>
    <li>Limpeza e aspiração de pavimentos;</li>
    <li>Limpeza de quadros e espelhos;</li>
    <li>Limpeza de tomadas e interruptores.</li>
    <li>Correção de vidros;</li>
    </ul>
    <p><strong>Limpeza de Casas de Banho </strong></p>
    <ul>
    <li>Limpeza e desinfeção de loiças sanitárias;</li>
    <li>Limpeza de torneiras e cromados com acabamento de brilho;</li>
    <li>Limpeza de azulejos da zona de banho e em cima da sanita;</li>
    <li>Limpeza de banheira, base de duche e resguardos;</li>
    <li>Limpeza de portas e aros até altura de utilização;</li>
    <li>Limpeza e aspiração de pavimentos;</li>
    <li>Limpeza de quadros e espelhos;</li>
    <li>Limpeza de tomadas e interruptores;</li>
    <li>Limpeza e desinfeção de caixote do lixo.</li>
    <li>Substituição de toalhas;</li>
    <li>Correção de vidros;</li>
    </ul>
    <p><strong>Limpeza de Salas </strong></p>
    <ul>
    <li>Aspiração de tapetes;</li>
    <li>Aspiração de sofás;</li>
    <li>Arrumação básica de têxteis;</li>
    <li>Limpeza de elementos decorativos e candeeiros de pé;</li>
    <li>Limpeza de TV’s e aparelhos eletrônicos;</li>
    <li>Limpeza exterior de armários;</li>
    <li>Limpeza de rodapés e parapeitos;</li>
    <li>Limpeza de cadeiras;</li>
    <li>Limpeza de portas e aros até altura de utilização;</li>
    <li>Limpeza e aspiração de pavimentos;</li>
    <li>Limpeza de quadros e espelhos;</li>
    <li>Limpeza de tomadas e interruptores.</li>
    </ul>
    <p><strong>Limpeza de Quartos </strong></p>
    <ul>
    <li>Aspiração de tapetes;</li>
    <li>Aspiração de colchão;</li>
    <li>Arrumação básica de têxteis;</li>
    <li>Fazer e substituir&nbsp;a roupa de cama;</li>
    <li>Limpeza de elementos decorativos e candeeiros de pé;</li>
    <li>Limpeza de TV’s e aparelhos eletrônicos;</li>
    <li>Limpeza exterior de armários;</li>
    <li>Limpeza de rodapés e parapeitos;</li>
    <li>Limpeza de cadeiras;</li>
    <li>Limpeza de portas e aros até altura de utilização;</li>
    <li>Limpeza e aspiração de pavimentos;<br>
    Limpeza de quadros e espelhos;<br>
    Limpeza de tomadas e interruptores.</li>
    <li>Correção de vidros;</li>
    </ul>
    <p><strong>Limpeza de Halls e corredores</strong></p>
    <ul>
    <li>Aspiração de tapetes;</li>
    <li>Arrumação básica de têxteis;</li>
    <li>Limpeza de elementos decorativos e candeeiros de pé;</li>
    <li>Limpeza exterior de armários;</li>
    <li>Limpeza de rodapés e parapeitos;</li>
    <li>Limpeza de portas e aros até altura de utilização;</li>
    <li>Limpeza e aspiração de pavimentos;</li>
    <li>Limpeza de quadros e espelhos;</li>
    <li>Limpeza de tomadas e interruptores;</li>
    <li>Correção de vidros;</li>
    </ul>
</div>
