{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container" style="padding: 50px 0; width: 85%;">
  <div class="row" style="padding: 0;">
    <div class="col">
      <h4>Precisa de ajuda? Esta na pagina certa!</h4>
      <br>
      <br>
      <div id="accordion">
        <h5 class="accordion-toggle">Nao me lembro da minha palavra passe</h5>
        <div class="accordion-content">
          <p>Siga os passos abaixo:<br>
             1) Insira o seu email (o mesmo email com que se registou) e clique em "enviar".<br>
             2) Clique no link que foi enviado para o seu email e defina uma password nova para a sua conta.
          </p>
          <form action="#" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.email) }}
            <input type="submit" class="btn btn-default btn-md" value="Enviar">
          </form>
        </div>
        <h5 class="accordion-toggle">Accordion 2</h5>
        <div class="accordion-content">
          <p>Lorem ipsum dolor sit amet mauris eu turpis.</p>
        </div>
        <h5 class="accordion-toggle">Accordion 3</h5>
        <div class="accordion-content">
          <p>Vivamus facilisisnibh scelerisque laoreet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function($) {
    $(".accordion-content").slideUp('fast');
    $('#accordion').find('.accordion-toggle').click(function(){
      $(this).next().slideToggle('fast');
    });
  });
</script>
{% endblock %}
