{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="row no-margin grey-info-block text-center" style="padding: 70px 0;">
  <div class="col">
    <div class="container signup_form">
      <!-- BEGIN FLASH MESSAGES -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{category}}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- END FLASH MESSAGES -->
      <h4><a href="{{ url_for('login') }}">Ja tem conta? Clique aqui.</a></h4>
      <br>
      <form action="{{ url_for('registo') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.surname) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.password2) }}
        <small id='small1' style="display: none; color: red;"></small><br>
        <input type="submit" class="btn btn-default btn-md" value="Registe-se">
      </form>
      <h4><a href="#">Precisa de ajuda?</a></h4>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  var a = $('#p1');
  var b = $('#p2');
  var c = $('#small1');
  b.keyup(function(d){
    if (b.val() != a.val()){
      b.addClass('border-danger');
      c.text('As palavras passe nao sao identicas.')
      c.show();
    }else{
      b.removeClass('border-danger');
      c.hide();
    }
  });
</script>
{% endblock %}
