<h1>A sua limpeza esta a ser aprovada!</h1>
<p>A nossa equipa esta a rever a sua limpeza. Dentro de moments recebera um email com a confirmacao.</p>
<p>Reveja abaixo os detalhes:</p>

<h3>Tipo de Casa</h3>
<p>{{ property_type }}</p>

<h3>De</h3>
<p>{{ date_from }}</p>

<h3>A</h3>
<p>{{ date_to }}</p>

<h3>Morada</h3>
<p>{{ address }}</p>

<h3>Hora</h3>
<p>{{ start_time }}</p>

<h3>Duracao</h3>
<p>{{ duration }}</p>

<h3>Preco</h3>
<p>£ {{ amount_paid }}</p>

<h3>Comentario</h3>
<p>{{ comment }}</p>

<br><br>

<h4>Tem alguma questao? Fale connosco. Faca o login na sua conta e comunique connosco atraves do chat deste booking.</h4>
<br>
<br>
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Sobre Nos</h3>
          <p>Trabalhamos em conjunto com todo o nosso pessoal e com a comunidade em geral para entregar o melhor serviço possivel.<br><br>
          Se tiver alguma questao, por favor entre em contact com o nosso escritorio. Temos uma fantastica equipa dispobivel e pronta para responder as suas questoes e ajuda-lo da melhor forma possivel.</p>
      </div>
      <div id="contactos_div" class="col-md-4">
        <h3>Social</h3>
        <p>Numero 2, Av da Liberdade<br>
          1750-234 Lisboa<br>
          Portugal<br>
          <br>
          Contacto: 21 000 00 00<br>
          Email: ajuda@jtcleaning.com<br>
          <br>
        </p>
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> <a href="#" class="socialicon socialicon-mail"></a> </div>
      </div>
    </div>
    <hr>
    <p class="text-center">© Copyright JTcleaning Ltd. Todos os direitos reservados.</p>
  </div>
</footer>
