<h1>Bem vindo!</h1>
<p>Verifique o seu email</p>




<br>
<br>
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Sobre Nos</h3>
          <p>Trabalhamos em conjunto com todo o nosso pessoal e com a comunidade em geral para entregar o melhor serviço possivel.<br><br>
          Se tiver alguma questao, por favor entre em contact com o nosso escritorio. Temos uma fantastica equipa dispobivel e pronta para responder as suas questoes e ajuda-lo da melhor forma possivel.</p>
      </div>
      <div id="contactos_div" class="col-md-4">
        <h3>Social</h3>
        <p>Numero 2, Av da Liberdade<br>
          1750-234 Lisboa<br>
          Portugal<br>
          <br>
          Contacto: 21 000 00 00<br>
          Email: ajuda@jtcleaning.com<br>
          <br>
        </p>
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> <a href="#" class="socialicon socialicon-mail"></a> </div>
      </div>
    </div>
    <hr>
    <p class="text-center">© Copyright JTcleaning Ltd. Todos os direitos reservados.</p>
  </div>
</footer>
