{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container" style="text-align: center; padding: 50px 0; width: 75%;">
  <!-- BEGIN FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- END FLASH MESSAGES -->
  <div class="row" style="padding: 0;">
    <div class="col-md-12">
       <form class="form-inline" id='#searchUser' action="#">
        <input id='searchText' class="form-control" type="text" name="#" placeholder="Pesquise um utilizador..." onkeyup="search()">
        <select class="form-control"  id='searchCol'>
          <option value="0">ID</option>
          <option value="1">Nome</option>
          <option value="2">Apelido</option>
          <option value="3">Email</option>
          <option value="4">Permissoes</option>
        </select>
      </form>
    </div>
  </div>
  <div class="row" style="padding: 0;">
    <div class="col-md">
      <table class="table" id='table'>
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Apelido</th>
            <th>Email</th>
            <th>Permissoes</th>
            <th>Confirmado</th>
            <th>Premium</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users_array %}
            <tr>
              <td><a  href="{{ url_for('admin_user', user_id=user.id) }}">#U-{{ user.id }}</a></td>
              <td>{{ user.name }}</td>
              <td>{{ user.surname }}</td>
              <td>{{ user.email }}</td>
              {% if user.is_staff() %}
                <td>{{ user.get_user_role().name }} - {{ user.get_staffMemeber_details().get_jobRole().name }}</td>
              {% else %}
                <td>{{ user.get_user_role().name }}</td>
              {% endif %}
              <td>
                {% if user.confirmed %}
                <span class="badge badge-success">Sim</span>
                {% else %}
                <span class="badge badge-secondary">Nao</span>
                {% endif %}
              </td>
              <td>
                {% if user.premium %}
                <span class="badge badge-success">Premium</span>
                {% else %}
                <span class="badge badge-secondary">Standard</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  function search(){
    // Declare variables
    var input, filter, table, tr, td, i, txtValue, searchCol, q;
    input = document.getElementById("searchText");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");
    searchCol = document.getElementById('searchCol');
    q = searchCol.options[searchCol.selectedIndex].value;

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[q];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock %}
