{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container" style="text-align: center; padding: 50px 0; width: 75%;">
  <!-- BEGIN FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- END FLASH MESSAGES -->
  <div class="row" style="padding: 0;">
    <div class="col-md">
      <div class="row" style="padding: 0;">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Hoje</h4>
              <table class="table table-borderless table-sm">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="badge badge-success">Bookings:</span></td>
                    <td id='booking_today'></td>
                  </tr>
                  <tr>
                    <td><span class="badge badge-info">Clientes:</span></td>
                    <td id='users_today'></td>
                  </tr>
                  <tr>
                    <td><span class="badge badge-danger">Cancelamentos:</span></td>
                    <td id='cancelled_today'></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Ultimos 7 dias</h4>
              <table class="table table-borderless table-sm">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="badge badge-success">Bookings:</span></td>
                    <td id='booking_week'></td>
                  </tr>
                  <tr>
                    <td><span class="badge badge-info">Clientes:</span></td>
                    <td id='users_week'></td>
                  </tr>
                  <tr>
                    <td><span class="badge badge-danger">Cancelamentos:</span></td>
                    <td id='cancelled_week'></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Ultimos 30 dias</h4>
              <table class="table table-borderless table-sm">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="badge badge-success">Bookings:</span></td>
                    <td id='booking_month'></td>
                  </tr>
                  <tr>
                    <td><span class="badge badge-info">Clientes:</span></td>
                    <td id='users_month'></td>
                  </tr>
                  <tr>
                    <td><span class="badge badge-danger">Cancelamentos:</span></td>
                    <td id='cancelled_month'></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        <br>
        <div class="row" style="padding: 0;">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mensagens</h4>
                <table class="table table-borderless table-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="badge badge-warning">Nao Lidas:</span></td>
                      <td id='unread_messages'></td>
                    </tr>
                    <tr>
                      <td><span class="badge badge-warning">Bookings:</span></td>
                      <td id='bookings_unread_messages'></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Margem</h4>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"></h4>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(window).ready(function(){
    $.ajax({
      url: '{{ api_url }}',
      method: 'GET',
      success: function (data) {
        d = JSON.parse(data);

        $('#booking_today').text(d['bookings_stats']['created']['today']);
        $('#booking_week').text(d['bookings_stats']['created']['week']);
        $('#booking_month').text(d['bookings_stats']['created']['month']);

        $('#users_today').text(d['users_stats']['created']['today']);
        $('#users_week').text(d['users_stats']['created']['week']);
        $('#users_month').text(d['users_stats']['created']['month']);

        $('#cancelled_today').text(d['bookings_stats']['cancelled']['today']);
        $('#cancelled_week').text(d['bookings_stats']['cancelled']['week']);
        $('#cancelled_month').text(d['bookings_stats']['cancelled']['month']);

        $('#unread_messages').text(d['unread_messages']['total']);
        b = d['unread_messages']['bookings_array'];
        for (var i = 0; i < b.length; i++) {
          $('#bookings_unread_messages').append('[<a href="/admin/booking/'+b[i]+'">'+b[i]+'</a>]');
        }
        console.log(d);

      },
      error: function (e){
        console.log(e);
      }
    });
  });
</script>
{% endblock %}
